<div class="header-wrap">
  <div class="page-heading">Submissions</div>
  <div class="profile-logout d-flex">
    <div class="profile-btn d-flex">
      <div class="user-img">
        <span>SC</span>
      </div>
      <div class="flex-direction-col align-self-center">
        <div class="user-name flex-100">
          Shirley Carr
        </div>
        <div class="user-position flex-100">
          Acme Accounting
        </div>
      </div>
    </div>
    <div class="logout-btn">
      <a href="#">
        <i class="fas fa-sign-out"></i>
      </a>
    </div>
  </div>
</div>
