<div class="main-content-wrap">
  <!-- Table Filter -->
  <div class="d-flex-center justify-content-between">
    <div class="filter-wrap">
      <span>Showing : All</span
      ><a class="icon"><i class="fas fa-filter"></i></a>
    </div>
    <div class="d-flex">
      <div class="search-wrap">
        <input class="search" placeholder="Search" /><span
          ><i class="far fa-search"></i
        ></span>
      </div>
      <button>
        <span class="icon-fa"><i class="fas fa-upload"></i></span>upload
      </button>
    </div>
  </div>
  <!-- Table Filter End -->

  <!-- Table -->
  <table class="w100 custom-table" border="0" cellspacing="0">
    <tr class="table-header">
      <th>
        <div>
          <input type="checkbox" id="test" /> <label for="#test"></label>
        </div>
      </th>
      <th>DATE & TIME</th>
      <th>FILENAME</th>
      <th>SERVICE USER</th>
      <th>PURPOSE</th>
      <th>TXNS</th>
      <th>DEBIT AMT.</th>
      <th>CREDIT AMT.</th>
      <th>STATUS</th>
      <th class="icon-cell">
        <a><i class="fas fa-cogs"></i></a>
      </th>
    </tr>
    <tr class="table-body-row">
      <td>
        <div class="d-flex-center">
          <a class="icon"><i class="far fa-plus-square"></i></a>
          <div class="badge"><span>10</span></div>
        </div>
      </td>
      <td>
        <span class="date">Jul 31, 2019</span> <span class="time">08:06AM</span>
      </td>
      <td>Payroll Aug2019.txt</td>
      <td>Albany Engineering</td>
      <td>Payroll</td>
      <td><span class="w100 text-center">43</span></td>
      <td>£ 555,755.72</td>
      <td>£ 104,546.72</td>
      <td><span class="tile">Grouped</span></td>
      <td class="empty-cell"></td>
    </tr>
    <tr class="table-body-row">
      <td>
        <div class="d-flex-center">
          <a class="icon"><i class="far fa-plus-square"></i></a>
          <div class="badge"><span>4</span></div>
        </div>
      </td>
      <td>
        <span class="date">Jul 31, 2019</span> <span class="time">08:06AM</span>
      </td>
      <td>Payroll Aug2019.txt</td>
      <td>Albany Engineering</td>
      <td>Payroll</td>
      <td><span class="w100 text-center">43</span></td>
      <td>£ 555,755.72</td>
      <td>£ 104,546.72</td>
      <td><span class="tile">Grouped</span></td>
      <td class="empty-cell"></td>
    </tr>
    <tr class="table-body-row">
      <td>
        <div class="d-flex-center">
          <a class="icon"><i class="far fa-plus-square"></i></a>
          <div class="badge"><span>8</span></div>
        </div>
      </td>
      <td>
        <span class="date">Jul 31, 2019</span> <span class="time">08:06AM</span>
      </td>
      <td>Payroll Aug2019.txt</td>
      <td>Albany Engineering</td>
      <td>Payroll</td>
      <td><span class="w100 text-center">43</span></td>
      <td>£ 555,755.72</td>
      <td>£ 104,546.72</td>
      <td><span class="tile">Grouped</span></td>
      <td class="empty-cell"></td>
    </tr>
    <tr class="table-body-row">
      <td>
        <div class="d-flex-center">
          <a class="icon"><i class="far fa-plus-square"></i></a>
          <div class="badge"><span>8</span></div>
        </div>
      </td>
      <td>
        <span class="date">Jul 31, 2019</span> <span class="time">08:06AM</span>
      </td>
      <td>Payroll Aug2019.txt</td>
      <td>Albany Engineering</td>
      <td>Payroll</td>
      <td><span class="w100 text-center">43</span></td>
      <td>£ 555,755.72</td>
      <td>£ 104,546.72</td>
      <td><span class="tile">Grouped</span></td>
      <td class="empty-cell"></td>
    </tr>
    <tr class="table-body-row">
      <td>
        <div class="d-flex-center">
          <a class="icon"><i class="far fa-plus-square"></i></a>
          <div class="badge"><span>4</span></div>
        </div>
      </td>
      <td>
        <span class="date">Jul 31, 2019</span> <span class="time">08:06AM</span>
      </td>
      <td>Payroll Aug2019.txt</td>
      <td>Albany Engineering</td>
      <td>Payroll</td>
      <td><span class="w100 text-center">43</span></td>
      <td>£ 555,755.72</td>
      <td>£ 104,546.72</td>
      <td><span class="tile">Grouped</span></td>
      <td class="empty-cell"></td>
    </tr>
    <tr class="table-body-row">
      <td>
        <div class="d-flex-center">
          <a class="icon"><i class="far fa-plus-square"></i></a>
          <div class="badge"><span>4</span></div>
        </div>
      </td>
      <td>
        <span class="date">Jul 31, 2019</span> <span class="time">08:06AM</span>
      </td>
      <td>Payroll Aug2019.txt</td>
      <td>Albany Engineering</td>
      <td>Payroll</td>
      <td><span class="w100 text-center">43</span></td>
      <td>£ 555,755.72</td>
      <td>£ 104,546.72</td>
      <td><span class="tile">Grouped</span></td>
      <td class="empty-cell"></td>
    </tr>
    <tr class="table-body-row">
      <td>
        <div class="d-flex-center">
          <a class="icon"><i class="far fa-plus-square"></i></a>
          <div class="badge"><span>8</span></div>
        </div>
      </td>
      <td>
        <span class="date">Jul 31, 2019</span> <span class="time">08:06AM</span>
      </td>
      <td>Payroll Aug2019.txt</td>
      <td>Albany Engineering</td>
      <td>Payroll</td>
      <td><span class="w100 text-center">43</span></td>
      <td>£ 555,755.72</td>
      <td>£ 104,546.72</td>
      <td><span class="tile">Grouped</span></td>
      <td class="empty-cell"></td>
    </tr>
    <tr class="table-body-row">
      <td>
        <div class="d-flex-center">
          <a class="icon"><i class="far fa-plus-square"></i></a>
          <div class="badge"><span>4</span></div>
        </div>
      </td>
      <td>
        <span class="date">Jul 31, 2019</span> <span class="time">08:06AM</span>
      </td>
      <td>Payroll Aug2019.txt</td>
      <td>Albany Engineering</td>
      <td>Payroll</td>
      <td><span class="w100 text-center">43</span></td>
      <td>£ 555,755.72</td>
      <td>£ 104,546.72</td>
      <td><span class="tile">Grouped</span></td>
      <td class="empty-cell"></td>
    </tr>
  </table>

  <!-- Table End -->

  <!-- Table Pagination -->
  <div class="d-flex-center justify-content-between">
    <button class="d-flex-base">
      <span class="icon-fa"><i class="fas fa-layer-minus"></i></span>upload<span
        class="badge"
        ><span>10</span></span
      >
    </button>
    <div class="pagination-wrap d-flex-center">
      Showing
      <span class="pagination-drop-down"
        ><input class="drop-down" value="10"/>
        <span><span class="far fa-chevron-down"></span></span
      ></span>
      <span class="page-numbers icon"><i class="far fa-chevron-left"></i></span>
      <span class="page-numbers">1</span>
      <span class="page-numbers">2</span>
      <span class="page-numbers">3</span>
      <span class="page-numbers icon"
        ><i class="far fa-chevron-right"></i
      ></span>
    </div>
  </div>
  <!-- Table Pagination End -->
</div>
